@import url('https://fonts.googleapis.com/css2family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
}
body{
    height: 100hv;
}
.header-menu{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    background:white ;
}
.header-menu .logo{
    color:gray;
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    float: left;
    font-weight: bold;
    font-family: cursive;
}
.header-menu nav{
    float: right;
}
.header-menu nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.header-menu nav ul li{
    list-style: none;
}
.header-menu nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color:gray;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.header-menu  nav ul li a:hover,
.header-menu nav ul li a.active{
    color: #fff;
    background: darkblue;
}
.menu-toggle{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.login{
    width:120px;
    background-color: transparent;
    border-radius: 5px;
    color:white;
    height:50px;
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
    margin-left: 10px;
    margin-top: 0;
}
.contact{
    position: relative;
    min-height: 87vh;
    padding: 50px 100px;
    display: flex;
    top: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../Image/pexels-mentatdgt-1311518.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content a {
    text-decoration: none;
    color:green;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color:#fff;
    font-weight: bold;
    filter: brightness(300px);

}
.contact .content p{
    font-weight: 300;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
    text-align: center;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.end{
    height:20px;
    width:100%;
    display: flex;
    float:left;
    margin-left: 635px;
    font-size: 14px;
    margin-bottom: 0;
}
.end li{
    display: inline;
    list-style: none;
    padding-right:10px;
}
.end li a{
    text-decoration: none;
    color:grey;
}
.en1{
    width: 100%;
    height:15px;
    display: flex;
    float:left;
    font-size:10px;
    margin-left: 610px;
    margin-top: 0px;
}
.en1 li{
    margin-top: 0px;
    display: inline;
    list-style: none;
    padding-right:5px;
}
.en1 li a{
    text-decoration: none;
    color:grey;
}
.sec3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    margin-right: 700px;
    float: right;
    
}
.sec3 ul{
    list-style: none;
}
.sec3 ul li{
    display:inline-block;
    background-color: #424242;
    border-radius: 50%;
    padding:2px;
}
.sec3 ul li i{
    color: white;
    font-size: 8px;
    text-align: center;
}
.sec3 ul li :hover:first-child{
    background-color: #697fb9;
}


@media (min-width:801px) and (max-width:1199px){
    .header-menu{
        background:white;
        height: 60px;
    }
    .header-menu .logo{
        font-size: 20px;
        margin-top: 3px;
        color: gray;
    }
    .header-menu nav ul {
        margin-top: 0px;
    }
    .header-menu nav ul li a{
        padding: 0 10px;
        font-size: 12px;
        margin-top: 2px;
        font-weight: bold;
        color: gray;
    }
    .header-menu  nav ul li a:hover,
    .header-menu nav ul li a.active{
        color: #fff;
        background:black;
    }
    .menu-toggle{
        color: #fff;
        float: right;
        line-height: 50px;
        font-size: 24px;
        cursor: pointer;
        display: none;
    }
    .login{
        width:80px;
        background-color:transparent;
        height: 50px;
        top: 0;
        font-size: 18px;
        margin-bottom: 10px;
        margin-left: 10px;
        text-align: center;
    }
    .contact .content p{
        font-size: 11px;
    }
    .contactForm{
        padding-top: 10px;
        width: 50%;
    }
    .contactForm h2{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .contactForm .inputBox input:focus ~ span,
    .contactForm .inputBox input:valid ~ span,
    .contactForm .inputBox textarea:focus ~ span,
    .contactForm .inputBox textarea:valid ~ span{
        transform: translateY(-15px);
    }
    .end{
        height:15px;
        width:100%;
        display: flex;
        float:left;
        margin-left: 300px;
        font-size: 11px;
        margin-bottom: 0;
    }
    .end li{
        display: inline;
        list-style: none;
        padding-right:10px;
    }
    .end li a{
        text-decoration: none;
        color:grey;
    }
    .en1{
        width: 100%;
        height:10px;
        display: flex;
        float:left;
        font-size:8px;
        margin-left: 300px;
        margin-top: 0px;
    }
    .en1 li{
        margin-top: 0px;
        display: inline;
        list-style: none;
        padding-right:10px;
    }
    .en1 li a{
        text-decoration: none;
        color:grey;
        margin-bottom: 0;
    }
    .sec3{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px;
        margin-top: 0px;
        margin-right: 320px;
        float: right;
        
    }
    .sec3 ul{
        list-style: none;
    }
    .sec3 ul li{
        display:inline-block;
        background-color: #424242;
        border-radius: 50%;
        padding:2px;
    }
    .sec3 ul li i{
        color: white;
        font-size: 10px;
        text-align: center;
    }
}

@media(max-width:800px){
    .header-menu{
        padding: 0 20px;
        background-color:rgb(92, 56, 56);
    }
    .menu-toggle{
        display: block;
        margin-right: 25px;
    }
    .header-menu nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    .header-menu nav.active{
        left: 0;
        z-index: 1;
    }
    .header-menu nav ul{
        display: block;
        text-align: center;
    }
    .header-menu nav ul li a{
        border-bottom: 1px solid rbga(0,0,0,0,0.2);
        margin-bottom: 30px;
    }
    .contact .content p{
        font-size: 10px;
    }
    .contactForm{
        padding-top: 10px;
        width: 65%;
    }
    .contactForm h2{
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }
    .contactForm .inputBox input:focus ~ span,
    .contactForm .inputBox input:valid ~ span,
    .contactForm .inputBox textarea:focus ~ span,
    .contactForm .inputBox textarea:valid ~ span{
        transform: translateY(-12px);
    }
    .end{
        height:15px;
        width:100%;
        display: flex;
        float:left;
        margin-left: 210px;
        font-size: 10px;
        margin-bottom: 0;
    }
    .end li{
        display: inline;
        list-style: none;
        padding-right:10px;
    }
    .end li a{
        text-decoration: none;
        color:grey;
    }
    .en1{
        width: 100%;
        height:10px;
        display: flex;
        float:left;
        font-size:7px;
        margin-left: 210px;
        margin-top: 0px;
    }
    .en1 li{
        margin-top: 0px;
        display: inline;
        list-style: none;
        padding-right:10px;
    }
    .en1 li a{
        text-decoration: none;
        color:grey;
    }
    .sec3{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px;
        margin-top: 0px;
        margin-right: 270px;
        float: right;
        
    }
    .sec3 ul{
        list-style: none;
    }
    .sec3 ul li{
        display:inline-block;
        background-color: #424242;
        border-radius: 50%;
        padding:2px;
    }
    .sec3 ul li i{
        color: white;
        font-size: 10px;
        text-align: center;
    }
    .sec3 ul li :hover:first-child{
        background-color: #697fb9;
    }
}

@media(max-width:625px){
    .header-menu{
        padding: 0 20px;
        background-color: black;
    }
    .menu-toggle{
        display: block;
        margin-right: 25px;
    }
    .header-menu nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    .header-menu nav.active{
        left: 0;
        z-index: 1;
    }
    .header-menu nav ul{
        display: block;
        text-align: center;
    }
    .header-menu nav ul li a{
        border-bottom: 1px solid rbga(0,0,0,0,0.2);
        margin-bottom: 30px;
    }
    .contact .content p{
        font-size: 10px;
    }
    .contact .content h2{
        font-size: 27px;
    }
    .contactForm{
        width:90%;
    }
    .contactForm h2{
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }
    .contactForm .inputBox input:focus ~ span,
    .contactForm .inputBox input:valid ~ span,
    .contactForm .inputBox textarea:focus ~ span,
    .contactForm .inputBox textarea:valid ~ span{
        transform: translateY(-12px);
    }
    .end{
        margin-left: 70px;
        font-size: 11px;
        margin-bottom: 0;
    }
    .end li{
        padding-right:10px;
    }
    .en1{
        font-size:8px;
        margin-left: 52px;
        margin-top: 0px;
    }
    .en1 li{
        padding-right:10px;
    }
    .sec3{
        padding: 8px;
        margin-top: 10px;
        margin-right: 150px;    
    }
    .sec3 ul li{
        display:inline-block;
        background-color: #424242;
        border-radius: 50%;
        padding:2px;
    }
    .sec3 ul li i{
        color: white;
        font-size: 10px;
        text-align: center;
    }
}

@media(max-width:460px){
    .header-menu{
        padding: 0 20px;
        background-color: black;
    }
    .menu-toggle{
        display: block;
        margin-right: 25px;
    }
    .header-menu nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    .header-menu nav.active{
        left: 0;
        z-index: 1;
    }
    .header-menu nav ul{
        display: block;
        text-align: center;
    }
    .header-menu nav ul li a{
        border-bottom: 1px solid rbga(0,0,0,0,0.2);
        margin-bottom: 30px;
    }
    .contact .content p{
        font-size: 8px;
    }
    .contact .content h2{
        font-size: 25px;
    }
    .contactForm{
        width:100%;
    }
    .contactForm h2{
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
    .contactForm .inputBox input:focus ~ span,
    .contactForm .inputBox input:valid ~ span,
    .contactForm .inputBox textarea:focus ~ span,
    .contactForm .inputBox textarea:valid ~ span{
        transform: translateY(-12px);
    }   
    .contactForm .inputBox span{
        font-size: 12px;
    }
    .end{
        margin-left: 70px;
        font-size: 11px;
        margin-bottom: 0;
    }
    .end li{
        padding-right:10px;
    }
    .en1{
        font-size:8px;
        margin-left: 52px;
        margin-top: 0px;
    }
    .en1 li{
        padding-right:10px;
    }
    .sec3{
        padding: 8px;
        margin-top: 10px;
        margin-right: 150px;    
    }
    .sec3 ul li{
        display:inline-block;
        background-color: #424242;
        border-radius: 50%;
        padding:2px;
    }
    .sec3 ul li i{
        color: white;
        font-size: 10px;
        text-align: center;
    }
}

@media(max-width:380){
    .header-menu{
        padding: 0 20px;
        background-color: black;
    }
    .menu-toggle{
        display: block;
        margin-right: 25px;
    }
    .header-menu nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    .header-menu nav.active{
        left: 0;
        z-index: 1;
    }
    .header-menu nav ul{
        display: block;
        text-align: center;
    }
    .header-menu nav ul li a{
        border-bottom: 1px solid rbga(0,0,0,0,0.2);
        margin-bottom: 30px;
    }
    .contact .content p{
        font-size: 8px;
    }
    .contact .content h2{
        font-size: 20px;
    }
    .contactForm{
        width:100%;
    }
    .contactForm h2{
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
    .contactForm .inputBox input:focus ~ span,
    .contactForm .inputBox input:valid ~ span,
    .contactForm .inputBox textarea:focus ~ span,
    .contactForm .inputBox textarea:valid ~ span{
        transform: translateY(-12px);
    }   
    .contactForm .inputBox span{
        font-size: 12px;
    }
    .end{
        margin-left: 70px;
        font-size: 11px;
        margin-bottom: 0;
    }
    .end li{
        padding-right:10px;
    }
    .en1{
        font-size:8px;
        margin-left: 52px;
        margin-top: 0px;
    }
    .en1 li{
        padding-right:10px;
    }
    .sec3{
        padding: 8px;
        margin-top: 10px;
        margin-right: 150px;    
    }
    .sec3 ul li{
        display:inline-block;
        background-color: #424242;
        border-radius: 50%;
        padding:2px;
    }
    .sec3 ul li i{
        color: white;
        font-size: 10px;
        text-align: center;
    }
}
@media(max-width:380px){
    .header-menu{
        padding: 0 20px;
        background-color: black;
    }
    .menu-toggle{
        display: block;
        margin-right: 25px;
    }
    .header-menu nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    .header-menu nav.active{
        left: 0;
        z-index: 1;
    }
    .header-menu nav ul{
        display: block;
        text-align: center;
    }
    .header-menu nav ul li a{
        border-bottom: 1px solid rbga(0,0,0,0,0.2);
        margin-bottom: 30px;
    }
    .contact .content p{
        font-size: 8px;
    }
    .contact .content h2{
        font-size: 19px;
    }
    .contactForm{
        width:1000%;
    }
    .contactForm h2{
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }
    .contactForm .inputBox input:focus ~ span,
    .contactForm .inputBox input:valid ~ span,
    .contactForm .inputBox textarea:focus ~ span,
    .contactForm .inputBox textarea:valid ~ span{
        transform: translateY(-12px);
    }   
    .contactForm .inputBox span{
        font-size: 10px;
    }
    .end{
        margin-left: 70px;
        font-size: 11px;
        margin-bottom: 0;
    }
    .end li{
        padding-right:10px;
    }
    .en1{
        font-size:8px;
        margin-left: 52px;
        margin-top: 0px;
    }
    .en1 li{
        padding-right:10px;
    }
    .sec3{
        padding: 8px;
        margin-top: 10px;
        margin-right: 150px;    
    }
    .sec3 ul li{
        display:inline-block;
        background-color: #424242;
        border-radius: 50%;
        padding:2px;
    }
    .sec3 ul li i{
        color: white;
        font-size: 10px;
        text-align: center;
    }
}
